
<!-- Orange jumbotron page header where main ticker is displayed -->
<div class="jumbotron" id="header">
  <div class="container text-center">
    <h1 id="ticker">Loading...</h1>

    <!-- insert knob here -->
    <div class="demo" style="height:350px;width:100%">
      <div style="position:relative;width:350px;margin:auto">
        <div style="position:absolute;left:10px;top:10px">
            <input class="dial bigDial" data-min="0" data-max="100000" data-bgColor="#e74c3c" data-fgColor="white" data-skin="tron" data-displayInput=false data-width="300" data-height="300" data-thickness=".3">
        </div>
        <div style="position:absolute;left:60px;top:60px">
            <input class="dial mediumDial" data-min="0" data-max="10000" data-bgColor="#e74c3c" data-fgColor="white" data-displayInput=false data-width="200" data-height="200" data-thickness=".45">
        </div>
        <div style="position:absolute;left:110px;top:110px">
            <input class="dial smallDial" data-min="0" data-max="1000" data-bgColor="#e74c3c" data-fgColor="white" data-displayInput=false data-width="100" data-height="100" data-thickness=".3">
        </div>
      </div> 
    </div>

  </div>
</div>
<div class="text-center">
  <p id="notice"><%= notice %></p>
</div>
<!-- <div class="text-center">
  <h4 id="loan-test">unchanged</h4>
</div> -->

<!-- Grid of all the properties -->
<div class="slideanim">
  <section id="properties-section">
    <% @properties.each do |property| %>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default text-center">
          
          <div class="panel-heading panel-height">
            <h3><%= property.address %></h3>
          </div>
          <div class="panel-body">

            <h4>Net Principal Borrowed:</h4>
            <h5><strong><%= 
              number_to_currency(property.loans.sum(:principal)) 
              %></strong></h5>

            <h4>Annual Net Interest:</h4>
            <h5><strong><%=
              number_to_currency(property.loans.inject(0) { |sum, l| sum + ((l.principal * l.interest) / 100.00) }) 
              %></strong></h5>

            <p><%= link_to 'Loan Details', property %></p>
            <p><%= link_to 'Edit', edit_property_path(property) %></p>
            <p><%= link_to 'Remove', property, method: :delete, data: { confirm: 'Are you sure you want to remove "' + property.address + '"?' } %></p>
          </div>
        </div>      
      </div>
    <% end %>
  </section>
</div>

<!-- New Property/Loan -->
<div id="new-block">
  <hr></hr>
  <section id="new-section">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="text-center">    
        <a href="/properties/new" class="btn btn-primary" role="button" aria-pressed="true">New Property</a>
        <a href="/loans/new" class="btn btn-primary" role="button" aria-pressed="true">New Loan</a>
      </div>
      <br>
    </div>
  </section>
</div>

